<div class="table-wrap">
  <!--<div class="description">Данная панель ещё находится в разработке</div> -->
  <div class="right-wrap defaultscroll">
    <div class="right-column"><div class="date-box">16.06.2020 (Вт)</div>
      <form class="form-select">
        <!--<button class='btn'>Показать</button>-->
        <div class='form_grup'>
          <div class='box-date'>

            <div class='form-group row m-1'>
              <div class="col-6 ">
                <input type="time" class="form-control shadow bg-white border-0 ">
              </div>
              <div class="col-6 ">
                  <input type="time" class="form-control shadow bg-white border-top-0 border border-2 ml-0" placeholder="Время до">
              </div>
            </div>

            <div class='form-row m-2'>
              <div class="col-12">
                <input class='form-input' type="text" id="email" required autocomplete="off" placeholder='Процедура'>
              </div>
            </div>
            <div class='form-row m-2'>
              <div class="col-12">
                <input class='form-input' type="text" id="email" required autocomplete="off" placeholder='ФИО'>
              </div>
            </div>
            

            <div class='row'>
              <div class='col-2'></div>
              <div class='col-8'>
                <button class='btn_select_menu'>Записать клиента</button>
              </div>
              <div class='col-2'></div>
            </div>
          </div>
        </div>
      </form>
      <div class='zap-block shadow-lg p-3 mb-3 bg-white rounded'>
        <div class="card-header"><p><div align="left"><b>12:30</b> Стрижка </div></p></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" align="left"><b>Телефон:</b> 89210607568</li>
          <li class="list-group-item" align="left"><b>ФИО</b>Таран Юрий Петрович</li>
        </ul>
      </div>
      <div class='zap-block shadow-lg p-3 mb-3 bg-white rounded'>
        <div class="card-header"><p><div align="left"><b>12:30</b> Стрижка </div></p></div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" align="left"><b>Телефон:</b> 89210607568</li>
          <li class="list-group-item" align="left"><b>ФИО</b>Таран Юрий Петрович</li>
        </ul>
      </div>
    </div>

    <div class="right-column"><div class="date-box">17.06.2020 (Ср)</div> Нет записей </div>
    <div class="right-column"><div class="date-box">18.06.2020 (Чт)</div> Нет записей </div>
    <div class="right-column"><div class="date-box">19.06.2020 (Пт)</div> Нет записей </div>
    <div class="right-column"><div class="date-box">20.06.2020 (Суб)</div> Нет записей </div>
    <div class="right-column"><div class="date-box">21.06.2020 (Воскр)</div> Нет записей </div>
    <div class="right-column"><div class="date-box">22.06.2020 (Пн)</div> Нет записей </div>
  </div>
</div>