{%extends 'base_page.html'%}
{%load static%}
{% block head %}

    <link rel="stylesheet" href="{% static 'flesh/css/cabinet.css' %}">

{% endblock head %}
{% block body %}
    <div class='row no-gutters'>
        <div class='col-3 bg-secondary d-none d-md-block' style='height:100vh;'>
            <div class='col-12 sidebar bg-secondary'>
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                </div>
            </div>
        </div>

        <dvi class='col-12 col-md-9 bg-warning'>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    {% block crack %}
                        hi
                    {% endblock crack %}
                </div>
            </div>
        </div>
    </div>

<div class="fixed-bottom">
    <div class='row d-sm-block d-md-none h-50'>
        <div class='col-12 bg-light p-2'>
            <ul class="nav justify-content-around">
            <li class="nav-item">
               <img src="{%static 'flesh/svg/image.svg'%}" style="max-width:2rem;" class="card-img-top align-self-center" alt="No img">
            </li>
            <li class="nav-item">
                <img src="{%static 'flesh/svg/master.svg'%}" style="max-width:2rem;" class="card-img-top align-self-center" alt="No img">
            </li>
            <li class="nav-item">
                <img src="{%static 'flesh/svg/message.svg'%}" style="max-width:2rem;" class="card-img-top align-self-center" alt="No img">
            </li>
            <li class="nav-item">
                <img src="{%static 'flesh/svg/description.svg'%}" style="max-width:2rem;" class="card-img-top align-self-center" alt="No img">
            </li>
            </ul>
        </div>
    </div>
</div>

{% endblock body %}

{% block footer %}
    
{% endblock footer %}
