<!DOCTYPE html>
<html lang="en" >
<head>
 <meta charset="UTF-8">
 <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
 <link rel="stylesheet" href="./new_style.css">
 <link rel="stylesheet" href="./new_select.css">
 <link rel='stylesheet' href='https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css'>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="table-wrap">
  <div class="description">Данная панель ещё находится в разработке</div>
  <div class="right-wrap defaultscroll">
    <div class="right-column"><div class="date-box">27.15.20</div>
      <form class="form-select">
        <div class='form_grup'>
          <div class='box-date'>
            <div class="form-row">
              <div class="col">
                <input class='form-input' type="text" id="email" required autocomplete="off" placeholder='Часы от'>
              </div>
              <b>:</b>
              <div class="col">
                <input class='form-input' type="text" id="email" required autocomplete="off" placeholder='Минуты от'>
              </div>
              <b>-</b>
              <div class="col"> 
                <input class='form-input' type="text" id="email" required autocomplete="off" placeholder='Часы до'>
              </div>
              <b>:</b>
              <div class="col">
                <input class='form-input' type="text" id="email" required autocomplete="off" placeholder='Минуты до'>
              </div>
              <!--<div class='col'>
                <button class='btn_select_menu'>Ok</button>
              </div>-->
            </div>

            <div class='row'>
              <div class='col-2'></div>
              <div class='col-8'>
                <button class='btn_select_menu'>Кнопка нажатая</button>
              </div>
              <div class='col-2'></div>
            </div>
          </div>
        </div>
      </form>
      <div class='zap-block'>
        12:30  \  Стрижка <br>
        Таран Юрий Петрович
        89210607568
      </div>
    </div>
    <div class="right-column"><div class="date-box">28.15.20</div> Нет записей </div>
    <div class="right-column"><div class="date-box">29.15.20</div> Нет записей </div>
    <div class="right-column"><div class="date-box">30.15.20</div> Нет записей </div>
    <div class="right-column"><div class="date-box">31.15.20</div> Нет записей </div>
  </div>
</div>


<!-- partial -->
  <script  src="./scroll_1.js"></script>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script  src="./scroll.js"></script>
</body>
</html>