<div id = 'orders_floor'>
      <div class="row">
        <div class="col-12 col-md-1 text-center pl-4 pt-2 border-dark border-right"> <div id='week_day' class='center-block'>Пн</div></div>
        <div class="col-10">
            <div class='row'>
                <div class='col-4 col-md-3 '>
                    <div class="alert alert-danger text-center order" role="alert">21:20 <!--<a href="#" class="alert-link">Доп текст</a>--> </div>
                </div>
                <div class='col-4 col-md-3'>
                    <div class="alert alert-danger text-center" role="alert"> 21:20 </div>
                </div>
            </div>
        </div>
        <div class="col-1 d-none d-md-block"></div></div>
    </div>
    <br>
</div>