      <div class="dropdown">
        <div class="select">
          <span style='color:black;'>Выберете услугу</span>
          <i class="fa fa-chevron-left"></i>
        </div>
        <input type="hidden" name="gender">
        <ul class="dropdown-menu">
          <li id="male">Male</li>
          <li id="female">Female</li>
          <li id="male">Male</li>
          <li id="female">Female</li>
          <li id="male">Male</li>
          <li id="female">Female</li>
          <li id="male">Male</li>
          <li id="female">Female</li>
          <li id="male">Male</li>
          <li id="female">Female</li>
          <li id="male">Male</li>
        </ul>
      </div>
