{% extends "base_page.html" %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger p-2 mt-4" role="alert">
        Вы ввели не верный логин или пароль 
    </div>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
<div class='row no-gutters'>
    <div class='col-7 offset-md-4 mt-5'>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <br>
                <br>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>
            </table>
            <div class='row no-gutters mt-3'>
                <div class='col-2'>
                    <input class="btn btn-outline-success btn-sm pr-3 btn-block" type="submit" value="Войти" />
                    {% comment %} <input type="hidden" name="next" value="{{ next }}" /> {% endcomment %}
                </div>
                <div class='col-2'>
                    {# Assumes you setup the password_reset view in your URLconf #}
                    <p><a class="btn btn-outline-info btn-sm pr-3 btn-block ml-1"  href="{% url 'password_reset' %}">Забыли пароль?</a></p>
                </div>
            </div>
        </form>
   </div>
</div>


{% endblock %}

{% block footer %}
{% endblock footer %}
